.container{
    border: 2px solid black;
    width: 700px;
    height: 70px;
    margin-left: 270px;
    margin-top: 250px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color:black;
    border-radius: 10px;
}
.container1{
    font-size: 20px;
    padding-top: 20px;
    color: white;
}
.container2{
     font-size: 20px;
      padding-top: 20px;
      color: white;
}
.container3{
     font-size: 20px;
      padding-top: 20px;
      color: white;
}
.container4{
     font-size: 20px;
      padding-top: 20px;
      color: white;
}
.container5{
     font-size: 20px;
      padding-top: 20px;
      color: white;
}
.container6{
     font-size: 20px;
      padding-top: 20px;
      color: white;
}
.container7{
     font-size: 20px;
      padding-top: 20px;
      color: white;
}
.container8{
     font-size: 20px;
      padding-top: 20px;
      color: white;
}
.container9{
     font-size: 20px;
      padding-top: 20px;
      color: white;
}
p{
    font-size: 12px;
    color: white;
    
}